h1{
    color: darkblue;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
}

p{
    text-align: justify;
}

.nick-name{
    color: rgb(0, 4, 255);
}

#sez{
    background-color: rgb(178, 240, 167);
    margin-top: 2%;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-left: 5%;

    padding: 5%;

    border: 5px solid black;
    border-radius: 5%;
}

#som{
    background-color:lightblue;
    margin-top: 2%;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-left: 5%;

    padding: 5%;

    border: 5px dotted navy;
    border-radius: 5%;
}